/*.container { margin-top: @navbarHeight ;}*/
div#page { margin-top: @navbarHeight + 10 ;}
div#disqus_thread {
  margin-top: 1.5em ;
  }

.twitter-follow-button {
  padding-top: 5px;
}

div#page {
/*   background-image: url('draft.svg') ;*/
  background-repeat: repeat-xy ;
  background-position: top left ;

}

h1 {
  margin-bottom: 0.8em;

}

.time {
   text-align: right ;
   font-weight: bold;
}

@prog-border-color: #CDCDCD;
@prog-border-style: solid;

.prog-section {
  margin-bottom: 0.5em ;
  border-width: 0px 0 1px 0;
  border-style: @prog-border-style;
  border-color: @prog-border-color;
  padding-bottom: 0.5em;
}

.prog-parallel {
  text-align: center ;
}

.prog-vert-sep {
}

*:target { background: yellow; }

.rss { float : right ;}