---
layout: default
no_sidebar: true
title: Cafés LoOPS
navbar-cafes: active
---
<p>
Coups de cœur ou dilemmes technologiques à partager, envie de rencontrer
d'autres LoOPsiens et de découvrir ce qui se passe ailleurs ? Venez partager un
moments convivial autour d'un café ou d'un thé.
</p>
<p>
Le format de ces cafés est volontairement laissé libre pour que chacun puisse s'approprier ce
moment, le créer et le façonner. On pourra donc avoir par exemple : des discussions libres,
des démos improvisées, des revues de code, des présentations éclairs, ... tout est bienvenu.
</p>

<p><strong>Pour qui ?</strong> Toute personne intéressée par le développement logiciel en environnement scientifique.</p>
<p><strong>Où ?</strong> En général au <strong><a href="http://proto204.co">PROTO204</a></strong></p>
<p><strong>Quand ?</strong> Le <strong>premier</strong> mardi de chaque mois, de <strong>13h à 14h</strong></p>

<h2>Prochain café</h2>
<dl>
<dt>6 novembre 2018</dt>
<dd><a href="2018/09/25/cafe-loops">Café LoOPS - Google Summer of Code 13h à 14h </a></dd>
</dl>

<h2>Tous les cafés</h2>
<ul>
{% for post in site.categories["cafés"] %}
  <li>
    {% if post.ev_startDate %}
      {{ post.ev_startDate | date: "%d-%m-%Y" }}
    {% else %}
      {{ post.date | date: "%d-%m-%Y" }}
    {% endif %}: <a href="{{ post.url }}">
    {% if post.ev_keywords %}
      {% for c in post.ev_keywords %}
        {{ c }}{% if forloop.last == false %}, {% endif %}
      {% endfor %}
    {% else %}
      {{ post.title }}
    {% endif %}</a>
  </li>
{% endfor %}
</ul>
