<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
  <div class="container">
  <a class="brand" href="{{site.url}}/index.html">{{ site.title }}</a>
  <div class="nav-collapse">
  <ul class="nav">
   <!--<li class="{{ page.navbar-home}}"><a href="{{ site.url }}/index.html">Accueil</a></li>-->
   <li class="{{ page.navbar-about}}"><a href="{{ site.url }}/about.html">Présentation</a></li>
   <li class="{{ page.navbar-events}}"><a href="{{ site.url }}/events.html">Evénements</a></li>
    <li class="{{ page.navbar-cafes}}"><a href="{{ site.url }}/cafes_loops.html">Cafés</a></li>
   <li class="{{ page.navbar-blog}}"><a href="{{ site.url }}/blog.html">Blog</a></li>
   <li class="{{ page.navbar-interview}}"><a href="{{ site.url }}/interview/">Interviews</a></li>
  </ul>
  </div>
  <div class="nav pull-right">
  <ul class="nav">
   <li> {% include twitter.html %} </li>
  </ul>
  </div>
  </div>
</div>
</div>