<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
  <div class="container">
  <a class="brand" href="{{site.url}}/index.html">{{ site.title }}</a>
  <div class="nav-collapse">
  <ul class="nav">
    <li class="{{ page.navbar-home}}"><a href="{{ site.url }}/index.html">Accueil</a></li>
   <li class="{{ page.navbar-blog}}"><a href="{{ site.url }}/blog.html">Blog</a></li>
  </ul>
  </div>
  <div class="nav pull-right">
  <ul class="nav">
   <li> {% include twitter.html %} </li>
   <li><img src="{{site.url}}/logo.svg" width="65"/></li>
  </ul>
  </div>
  </div>
</div>
</div>